.main-container {
  width: 80%;
  height: 100%;
  padding: 1em;
  height: auto;
  border-right: 2px solid #242731;
}

.main-container section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.section-header h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 0.1em;
  border-bottom: 1px solid #3772ff;
  color: #ffffff;
}

.section-header button {
  background: #191b20;
  mix-blend-mode: normal;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  display: flex;
  align-items: center;
  gap: 0.7em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #3772ff;
}

.logo-sec {
  color: #3772ff;
  font-size: 1.3em;
}

.main-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.4em;
}

.content-1 {
  background: #abe8ff;
  padding: 1em 2em;
  border-radius: 10px;
  position: relative;
}

.content-1 .cross {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  padding: 0;
}

.cross svg {
  height: 10px;
  width: 10px;
  border-radius: 0px;
}

.content-1 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  color: #2b2557;
}

.content-1 span {
  background: #ffffff;
  border-radius: 6px;
  color: #2b2557;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  padding: 0.3em 1em;
}

.content-2 {
  background: #191b20;
  border-radius: 12px;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
}

.reward-content h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.reward-content h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
}

.card-list {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 1em;
}

.card-item {
  width: 300px;
  height: 170px;
  padding: 1em;
  opacity: 0.8;
  border-radius: 16px;
  background-color: #191b20;
}
.referral-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #808191;
}

.url-copy {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
  background: #242731;
  mix-blend-mode: normal;
  border-radius: 8px;
}
